# .envrc  (safe & quiet)
export MAMBA_ROOT_PREFIX="$HOME/micromamba"
unset CONDA_PREFIX
unset CONDA_DEFAULT_ENV
eval "$(micromamba shell hook -s bash)"

VENVP="$PWD/.venv"


micromamba activate DocsToKG    # or whatever name you used


# Load .env if present (direnv stdlib)
dotenv_if_exists

